body{
	background-size: cover;
	margin: 0;
	margin-top: 75px;
}

#head {
	background: rgb(160,160,160);
	display: flex;
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	justify-content: space-between;
	padding-left: 20px;
	align-items: center;
	box-sizing: border-box;
}

#head nav{
	display: flex;
	height: 75px;
	background: #333;
}

#head a{
	display: flex;
	align-items: center;
	padding: 0 20px;
	text-decoration: none;
	color: white;
}

#head a:hover{
	background-color: #111;
}

#head h1 {
	margin: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif
}

#map {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    border-style: solid;
    border-width: 0px;
}


#description{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif
}

#skiform{
	text-align: center;
}

#home {
	background-color: green;
}

#head #home:hover{
	background-color: green;
}

